@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/mixins';
@import 'variables';

header.navbar {
    a.nav-link,
    a.dropdown-item {
        color: $nav-color;
        text-transform: uppercase;

        &:hover {
            color: $green;
        }
    }

    @include media-breakpoint-up('xs') {
        .navbar-brand {
            max-width: 75%;
        }
    }
}
