// overrides
$spacer: 1.5rem;

$green: #639b51;
$dark-green: darken($green, 15%);
$yellow: #f4c44d;
$white: #ffffff;

// bootstrap imports
@import '../node_modules/bootstrap/scss/variables';

// new variables
$nav-color: $gray-600;

$footer-background: $gray-300;
